*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    position: relative;
    outline: none;
    background: red;
    color: #fff;
    padding: 8px 35px;
    border-radius: 100px;
}